<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebForm</title>
</head>
<body>
    <h1>Web Form</h1>
    <form method="post">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email">
        
        <button type ="submit">Cadastrar</button>
    </form>
</body>
</html>